body {
    background-color: black;
    color: white;
}

/* NAV */
#object-nav {
    position: fixed;
    top: 27%;
    width: 10rem;
}

#object-nav a {
    margin: 0.25rem 0;
    font-weight: bold;
    font-size: large;
}

#object-nav a:hover {
    filter: brightness(1.25)
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color: white;
    background-color: #882ea8;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: #ebb30c;
}

main {
    margin: auto;
    padding: 1rem;
}

/* LINES */
.line {
    width: 2px;
    background-color: white;
    margin: 2rem auto;
}

#line1 {
    height: 735rem;
}
#line2 {
    height: 0;
}
#line3 {
    height: 835rem;
}
#line4 {
    height: 1275rem;
}
#line5 {
    height: 0;
}
#line6 {
    height: 1910rem;
}
#line7 {
    height: 6385rem;
}
#line8 {
    height: 695rem;
}

/* STARS */
#starfield {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: black;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

/* PLANETS */
.planetimg {
    width: 70%;
    transition: transform 0.2s ease-in-out;
    margin: 1rem;
}

.planetimg:hover {
    transform: scale(1.03);
}

.item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60rem;
    min-width: 30rem;
    margin: auto;
}

h4 {
    margin: 1rem 10rem;
}

/* TABLES */
.tables {
    width: 75rem;
}

/* RULER */
#ruler {
  position: absolute;
  right: 1px;
  top: 25rem;
  width: 1rem;
  border-left: 2px solid white;
}

.tick {
  position: absolute;
  left: 0;
  width: 50px;
  border-bottom: 1px solid white;
  font-size: 12px;
  color: white;
  transform: translateX(-100%);
}




@media (max-width: 1000px) {
    main {
        margin-left: 10rem;
    }
    #ruler {
        visibility: hidden;
    }
}

@media (max-width: 672px) {
    main {
        background-color: rgb(255, 0, 0);
    }

}
